MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@HOST/?appName=msp-2016
MONGODB_DB=msp_2016
MONGODB_STATE_COLLECTION=state
MSP_LOCALE=pl_PL
MSP_SERVER_ONLY=0
PORT=
REMOTE_ASSET_BASE_URL=https://pub-2ec8e3c2f0a24e46ab1defac06482eb3.r2.dev
REMOTE_ASSET_CACHE=0
REMOTE_GATEWAY_URL=
CLOUDFLARE_ACCOUNT_ID=
R2_BUCKET=msp-assets
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_UPLOAD_CONCURRENCY=24
